<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiIGVf9tlAW0ijxLHRGzXk-lE3D5vbuJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>990790557821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.MyLibrary</string>
	<key>PROJECT_ID</key>
	<string>mylibrary-30eed</string>
	<key>STORAGE_BUCKET</key>
	<string>mylibrary-30eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990790557821:ios:c986e0f62b63f75bac5114</string>
</dict>
</plist>